<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>me.harshdeepsingh.stocksweekly</string>
    <key>WorkingDirectory</key>
    <string>/Users/harshdeep/dev/stocks</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/harshdeep/dev/stocks/env/bin/python</string>
        <string>/Users/harshdeep/dev/stocks/render_portfolio.py</string>
	<string>week</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Minute</key>
        <integer>0</integer>
        <key>Hour</key>
        <integer>5</integer>
        <key>Weekday</key>
        <integer>3</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/harshdeep/dev/stocks/std_out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/harshdeep/dev/stocks/std_err.log</string>
</dict>
</plist>
